body {
  margin: 0;
  background: linear-gradient(to right top, #FF655B, #FF5864, #FD297B);
  color: white;

  .options-container {
    padding: 10px;
    min-width: 400px;

    .options-header {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .player-options {

      .player-button {
        cursor: pointer;
        display: inline-block;
        margin: 5px;
        color: white;

        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .player-name {
        display: inline-block;
      }
    }

    .options {
      margin: 10px 0;
      padding: 5px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 5px;

      .styled-input {
        margin-top: 5px;
        width: 200px;
        padding: 5px;
        border-radius: 5px;
        border: none;
      }

      select {
        margin-left: 5px;
        border-radius: 5px;
        border: none;
      }

      .slider-container {
        display: flex;
        align-items: center;
      }

    }

  }
}

