.profile-container {
  display: flex;
  flex-direction: row-reverse;
  .profile {
    white-space: pre-wrap;
    border: 1px solid rgb(224, 228, 233);
    margin-top: 10px;
    padding: 10px;
    background: rgb(245, 247, 250);
    border-radius: 5px;
    min-height: 150px;
    width: 500px;
    &.hidden {
      display: none;
    }
  }

}
