.player-section {
  display: inline-block;
  padding: 10px 20px 10px 0;

  .player-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .player-name {
      box-shadow: 1px 1px 3px rgba(150, 150, 150, 0.5);
      padding: 5px 10px;
      color: white;
      border-radius: 5px;
      background: linear-gradient(to right top, #FF655B, #FF5864, #FD297B);
    }
  }
}

.instructions {
  margin: 20px;
  padding: 10px;
  background: linear-gradient(to right top, #FF655B, #FF5864, #FD297B);
  color: white;
  .header {
    font-weight: bold;
  }
}
