#bingo-controls {

  > div {
    margin: 10px;
  }

  .control-section {

    background: rgb(245, 247, 250);
    border-bottom: 1px solid rgb(224, 228, 233);
    padding: 10px;
    margin: 0;

    .start-button {
      text-align: center;
      padding: 10px;
      margin: 10px 0 20px 0;
      font-weight: bold;
      cursor: pointer;
      font-size: 2rem;
      border: 3px solid #545454;
      border-radius: 5px;
      color: #545454;
      background: white;
      box-shadow: 1px 1px 3px rgba(150, 150, 150, 0.5);

      &:hover, &.active {
        background: linear-gradient(to right top, #FF655B, #FF5864, #FD297B);
        color: white;
      }
    }

    .rounds {
      display: inline-block;
      padding: 10px;
    }
  }


}
